@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
	font-size: 16px;
}

body {
    font-family: "Inter", "Helvetica", "Arial", sans-serif;
	letter-spacing: .011em;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	text-rendering: geometricPrecision;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

strong {
	font-weight: 500;
}