button:hover,
a:hover {
    transition: .25s ease-in-out;
}
.clamp-1,
.clamp-2,
.clamp-3,
.clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clamp-1 {
  -webkit-line-clamp: 1;
}

.clamp-2 {
  -webkit-line-clamp: 2;
}

.clamp-3 {
  -webkit-line-clamp: 3;
}

.clamp-4 {
  -webkit-line-clamp: 4;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 6px 20px;
}

.img-cover {
    background-size: cover;
}