button:hover,
a:hover {
    transition: .25s ease-in-out;
}

.clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.img-cover {
    background-size: cover;
}